body {
	font-family: Avenir, 'Helvetica Neue', 'Lato', 'Segoe UI', Helvetica, Arial, sans-serif;
	line-height: 1.5;
	color: #3b393d;
	background: #f0f0f0;
	background-size: cover;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	overflow: hidden;
	overflow-y: scroll;
}

.header{
	-webkit-transition: opacity 300ms ease-in-out;
	transition: opacity 300ms ease-in-out;
}

.links {
	margin: 2em 0 0;
}



.imgs
{
	width: 100%;
	
}

.article
{

	background-color: #acaad1;

}

.mybody
{
	position: relative;
	-moz-box-sizing: border-box; 
	box-sizing: border-box;
}

.myfooter
{
	margin-bottom: 0%;
	width: 100%;
	text-align: center;
}

a {
	text-decoration: none;
	color: #de6551;
	outline: none;
}

a:hover,
a:focus {
	color: #3b393d;
}

.body {
	background: #acaad1;
}

.body a {
	color: #4f4c4c;
}

.body .header h1 span {
	color: #4f4c4c;
}



/* Header */

.header {
	padding: 2em 1em;
	text-align: center;
}

.header h1 {
	font-size: 3em;
	font-weight: 400;
	line-height: 1.2;
	margin: .5em 0 0;
}

/*Style pour le menu*/
#nav {
	border-width:1px;
 	border-style:dotted;
 	border-color:#de6551;
	padding: 0; 
	margin: 2%;
	text-align: center;
}
#nav li {
	display: inline;
	list-style: none;
}
#nav a {
	display:inline-block;
	margin: 0 30px;
}

.contenu
{
	padding-left: 10%;
	padding-top: 1%;
	padding-right: 10%;
}


html,body {
  padding:0;
  margin:0;
  height:100%;
}
#menu, #menu ul {
  padding:0;
  margin:0;
  list-style: none;
  text-align: center;
}

#menu li {
  display:inline-block;
  vertical-align: top;
  position: relative;
}
#menu li li {
  display:inherit;
}
#menu a {
  display:block;
  padding:5px 50px;
  text-decoration: none;
  color:#fff;
  font-family:arial;
}
#menu ul li a {
  padding:5px 8px;
}
#menu ul {
  position: absolute;
  z-index: 1000;
  min-width:100%;
  white-space: nowrap;
  text-align: left;
}
#menu ul ul {
  left:100%;
  top:0;
  overflow: hidden;
  max-width: 0;
  min-width: 0;
  transition: 0.3s all;
}
#menu ul li:hover ul {
  max-width: 30em;
}
#menu ul li {
  max-height:0;
  overflow: hidden;
  transition:all 0.8s;
}
#menu li li li {
  max-height: inherit;
}
#menu li:hover li {
  max-height: 15em;
  overflow: visible;
}
/* background des liens menus */
.violet {
background-color: #65537A;
background-image:linear-gradient(to bottom, #65537A 0%, #2A2333 100%);
}
.violet li {
    background:#2A2333
}
.violet li:hover {
    background:#65537A
}
.bleu {
background-color: #729EBF;
background-image:linear-gradient(to bottom, #729EBF 0%, #333A40 100%);
}
.bleu li {
    background:#333A40
}
.bleu li:hover {
    background:#729EBF
}
.orange {
background-color: #F6AD1A;
background-image:linear-gradient(to bottom, #F6AD1A 0%, #9F391A 100%);
}
.orange li {
    background-color:#9F391A;
}
.orange li:hover {
    background:#F6AD1A
}
.vert{
background-color: #CFFF6A;
background-image:linear-gradient(to bottom, #CFFF6A 0%, #677F35 100%);
}
.vert li {
    background-color:#677F35
}
.vert li:hover {
    background:#CFFF6A
}
#menu li:hover {
    background-image:none;
}
#menu li:hover a, .menu li li:hover a {
    color:#000
}
#menu li:hover li a, #menu li:hover li li a {
    color:#fff
}
#menu li:hover a, #menu li li:hover a, #menu li li li:hover a {
    color:#000
}

.myLinks
{
    text-align: center;
}
.myTitle
{
    text-align: center;
}

















